header
    .menu
        background-color: #fcf8fa
        padding: 0 25px
        height: 70px
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1
    .imgbox
        width: 40px
    .box
        display: flex
        flex-direction: row-reverse
        .btn
            background-color: #f2f2f4
            width: 40px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            display: none
        .cart
            background-color: #3cb5ba
            color: #fafefe
    nav
        a
            color: #817f7f
            margin-right: 30px
            font-size: 20px
        .home-color
            color: #74bebc

    @media screen and ( max-width: 992px )
        .menu
            height: 50px
            .imgbox
                width: 20px
            .box
                .btn
                    display: flex
                    width: 35px
                    height: 35px
                .cart
                    display: none
            nav
                display: none

    @media screen and ( max-width: 576px )
        .menu
            height: 70px
            padding-top: 15px
            .imgbox
                width: 40px
            .box
                .btn
                    display: flex
                    width: 55px
                    height: 55px
                .cart
                    margin-right: 15px
            nav
                display: none